body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: lightblue;
  color: #333;
}

header {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
}

nav {
  background: #444;
  text-align: center;
  padding: 0.5rem 0;
}

nav a {
  color: rgb(255, 255, 5);
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

footer {
  background: #333;
  color: rgb(255, 255,5);
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}